{{define `invalid_name_error`}}type Invalid{{.Name}}NameError struct {
	Name string
}

func (e *Invalid{{.Name}}NameError) Error() string {
	return fmt.Sprintf("invalid {{.Name}} %q", e.Name)
}
{{end}}
